<div class="article-meta">
	<a href=""><img src="{{ user.image }}" /></a>
	<div class="info">
		<a [routerLink]="['/profile', user.username]" class="author">{{ user.username }}</a>
		<span class="date">{{ createdAt | date }}</span>
	</div>
	<follow-button [username]="user.username" [following]="user.following" (toggleFollow)="onFollow()"></follow-button>
	&nbsp;&nbsp;
	<button class="btn btn-sm btn-outline-primary" (click)="onFavorite()">
		<i class="ion-heart"></i>
		&nbsp;
		Favorite Post <span class="counter" *ngIf="favoritesCount">({{ favoritesCount }})</span>
	</button>
</div>