<ng-container *ngIf="article$ | async as article">
	<div class="article-page">
		<div class="banner">
			<div class="container">
				<h1>{{ article.title }}</h1>
				<app-article-actions [createdAt]="article.createdAt" [user]="article.author"
					[favoritesCount]="article.favoritesCount" [articleSlug]="article.slug"></app-article-actions>
			</div>
		</div>

		<div class="container page">
			<div class="row article-content">
				<div class="col-md-12">
					{{ article.body }}
				</div>
			</div>
			<hr />
			<div class="article-actions">
				<app-article-actions [createdAt]="article.createdAt" [user]="article.author"
					[favoritesCount]="article.favoritesCount" [articleSlug]="article.slug"></app-article-actions>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-8 offset-md-2">
					<comment-editor *ngIf="user$ | async as user" [user]="user"
						(submitComment)="submitComment(article.slug, $event)" [reset$]="resetComment$">
					</comment-editor>
					<comment *ngFor="let comment of comments$ | async" [comment]="comment">
					</comment>
				</div>
			</div>
		</div>
	</div>
</ng-container>