<ng-container *ngIf="article$ | async as article">
	<div class="article-page">
		<div class="banner">
			<div class="container">
				<h1>{{ article.title }}</h1>
				<ng-container *ngTemplateOutlet="actions"></ng-container>
			</div>
		</div>

		<div class="container page">
			<div class="row article-content">
				<div class="col-md-12">
					{{ article.body }}
				</div>
			</div>
			<hr />
			<div class="article-actions">
				<ng-container *ngTemplateOutlet="actions"></ng-container>
			</div>

			<ng-template #actions>
				<app-article-actions [isAuthorActions]="(user$ | async)?.username === article.author.username"
					[createdAt]="article.createdAt" [user]="article.author" [favoritesCount]="article.favoritesCount"
					[articleSlug]="article.slug" (followUser)="toggleFollow($event)"
					(removeArticle)="removeArticle($event)" (editArticle)="navigateToEditor($event)">
				</app-article-actions>

			</ng-template>

			<div class="row">
				<div class="col-xs-12 col-md-8 offset-md-2">
					<comment-editor *ngIf="user$ | async as user" [user]="user"
						(submitComment)="submitComment(article.slug, $event)">
					</comment-editor>
					<comment *ngFor="let comment of comments$ | async" [comment]="comment"
						(remove)="removeComment(article.slug, $event)" [currentUser]="(user$ | async)">
					</comment>
				</div>
			</div>
		</div>
	</div>
</ng-container>