<div class="settings-page">
	<div class="container page">
		<div class="row">
			<div class="col-md-6 offset-md-3 col-xs-12">
				<h1 class="text-xs-center">Your Settings</h1>
				<form [formGroup]="settingsForm" (submit)="submit()">
					<fieldset>
						<fieldset class="form-group">
							<input class="form-control" type="text" formControlName="image"
								placeholder="URL of profile picture">
						</fieldset>
						<fieldset class="form-group">
							<input class="form-control form-control-lg" type="text" formControlName="username"
								placeholder="Your Name">
						</fieldset>
						<fieldset class="form-group">
							<textarea class="form-control form-control-lg" rows="8" formControlName="bio"
								placeholder="Short bio about you"></textarea>
						</fieldset>
						<fieldset class="form-group">
							<input class="form-control form-control-lg" type="text" placeholder="Email"
								formControlName="email">
						</fieldset>
						<fieldset class="form-group">
							<input class="form-control form-control-lg" type="password" placeholder="Password"
								formControlName="password">
						</fieldset>
						<button class="btn btn-lg btn-primary pull-xs-right"
							[disabled]="(reqStatus$ | async) === 'loading'"> Update Settings </button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>