<div class="profile-page" *ngIf="profile$ | async as profile">

	<div class="user-info">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-md-10 offset-md-1">
					<img [src]="profile.image" class="user-img" />
					<h4>{{ profile.username }}</h4>
					<p>
						{{ profile.bio }}
					</p>

					<follow-button [username]="profile.username" [following]="profile.following"
						(toggleFollow)="toggleFollow($event)"></follow-button>
					<!-- <button class="btn btn-sm btn-outline-secondary action-btn"
						(click)="toggleFollow(profile.username)">
						<i class="ion-plus-round"></i>
						&nbsp;
						{{ profile.following ? 'Unfollow' : 'Follow'}} {{ profile.username }}
					</button> -->
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-md-10 offset-md-1">
				<div class="articles-toggle">
					<ul class="nav nav-pills outline-active">
						<li class="nav-item">
							<a class="nav-link" href="#" [ngClass]="{ active: listViewMode === 'user' }"
								[routerLink]="['/profile', profile.username]">
								My Articles
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" [routerLink]="['/profile', profile.username, 'favorites']"
								[ngClass]="{ active: listViewMode === 'favorited' }">
								Favorited Articles
							</a>
						</li>
					</ul>
				</div>

				<article-list *ngIf="listViewMode === 'user' && (userArticles$ | async) as userArticles"
					[articles]="userArticles.entries" [totalPages]="userArticles.totalPages" [page]="userArticles.page"
					[loading]="false">
				</article-list>
				<article-list *ngIf="listViewMode === 'favorited' && (favoritedArticles$ | async) as favoritedArticles"
					[articles]="favoritedArticles.entries" [totalPages]="favoritedArticles.totalPages"
					[page]="favoritedArticles.page" [loading]="false">
				</article-list>

			</div>

		</div>
	</div>

</div>