<div class="home-page">
	<div class="banner">
		<div class="container">
			<h1 class="logo-font">conduit</h1>
			<p>A place to share your knowledge.</p>
		</div>
	</div>
	<div class="container page" *ngIf="filter$ | async as filter">
		<div class="row">
			<div class="col-md-9">
				<div class="feed-toggle">
					<ul class="nav nav-pills outline-active">
						<li class="nav-item">
							<a class="nav-link"
								[ngClass]="{active: filter.feed === 'user', disabled: !(loggedIn$ | async)}"
								[routerLink]="" [queryParams]="{ feed: 'user', page: 1}">
								Your Feed
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" [ngClass]="{active: filter.feed === 'all'}" [routerLink]=""
								[queryParams]="{ feed: 'all', page: 1}">
								Global Feed
							</a>
						</li>
					</ul>
				</div>
				<article-list [articles]="articles$ | async" [loading]="loading$ | async"
					[totalPages]="totalPages$ | async" [page]="(filter$ | async)?.page"
					(onToggleFavorite)="toggleFavorite($event)"></article-list>
			</div>
			<div class="col-md-3">
				<div class="sidebar">
					<p>Popular Tags</p>
					<div class="tag-list">
						<a *ngFor="let tag of tags$ | async" [routerLink]="" [queryParams]="{tag: tag, page: 1}"
							class="tag-pill tag-default" [ngClass]="{ active: filter.tag === tag}">
							{{ tag }}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>